body.ext-ie6 { text-align: center; }

body.frontend {
    background: var(mainColor);
}

#page #outerHeader,
#page #outerContent,
#page #outerFooter {
    background: var(mainColor);
}

#page #outerHeader #header,
#page #outerContent #content,
#page #outerFooter #footer { width: 990px; margin: 0px auto; text-align: left; }

#page #outerFooter {
    border-top: 2px solid #333;
}

#page #outerHeader #header {
    padding-top: 20px;
}

#page #outerContent {
    padding-bottom: 20px;
}

#page #outerHeader {
    padding-bottom: 20px;
}

#header .logo {
    float: left;
    width: 300px;
}

