body.ext-ie6 { text-align: center; }

body.frontend {
    background: var(mainColor);
}

#page #outerHeader #header,
#page #outerContent #content,
#page #outerFooter #footer { width: 990px; margin: 0px auto; text-align: left; }

#page #outerHeader #header {
    margin-top: 10px;
}

#page #outerContent {
    margin-bottom: 200px;
}

#page #outerHeader {
    margin-bottom: 20px;
}

#header .logo {
    float: left;
    width: 300px;
}

#page #outerFooter {
    background: var(dark);
    height: 160px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}
