.cssClass {
    width: 650px;
}
.cssClass .info {
    float: left;
}
.cssClass .entry {
    margin-bottom: 0;
}
.cssClass h2 a {
    color: var(dark);
}
.cssClass h2 a:hover {
    color: var(dark);
}
.cssClass .webStandardButton {
    float: right;
    margin-top: 11px;
}
.cssClass .detailPage {
    padding-bottom: 30px;
    border-bottom: 2px solid var(dark);
}
.cssClass .detailPage.last {
    border-bottom: none;
}
.cssClass .detailPage a.permalink  {
    color: var(mainColor);
    padding: 5px;
    -moz-box-shadow:  1px 1px 1px var(dark), -1px -1px 1px var(dark);
    -webkit-box-shadow: 1px 1px 1px var(dark), -1px -1px 1px var(dark);
    box-shadow: 1px 1px 1px var(dark), -1px -1px 1px var(dark);
    background: var(dark);
}
.cssClass .detailPage a:hover.permalink  {
    color: var(light);
}
