.webStandard { font-family: Raleway, sans-serif, Arial Helvetica, Verdana, Geneva; font-size: 14px; color: var(typo); }
.webStandard strong { font-weight: bold; }
.webStandard em { font-style: italic; }

.webStandard p { line-height: 18px; color: var(typo); margin-bottom: 10px; }

.webStandard a { text-decoration: none; color: var(thirdColor); outline: none; }
.webStandard a:hover { text-decoration: none; color: var(thirdColor); }
.webStandard a:link { text-decoration: none; color: ar(thirdColor) }

.webStandard ol,
.webStandard ul { margin-bottom: 10px; margin-left: 20px; }
.webStandard li { list-style-type: square; margin-bottom: 5px; line-height: 18px; color: var(dark); }

.webStandard h1 {
    font-size: 48px;
}
.webStandard h2 {
    font-size: 32px;
}

.webStandard .thirdColorText {
    color: var(thirdColor);
}


body.ext-ie6 { text-align: center; }
