@import "compass/utilities/general/clearfix";
.cssClass {
    @include pie-clearfix;
    padding: 100px 0;
    margin: auto;
    width: auto;

    h2 {
        margin-bottom: 30px;
    }
    .project {
        position: relative;
        width: 275px;
        height: 120px;
        float: auto;
        overflow: hidden;
        cursor: pointer;
        margin: auto;
        margin: 10px auto;

        &.mapster {
            background: url("/assets/web/images/mapster.png") center center no-repeat var(mainColor);
        }
        &.koala {
            background: url("/assets/web/images/koalaframework.png") center center no-repeat var(mainColor);
        }
        &.tmk {
            background: url("/assets/web/images/tmk.png") center center no-repeat var(mainColor);
        }
        &.esta {
            background: url("/assets/web/images/esta.png") center center no-repeat var(mainColor);
        }
        
        .projectOverlay {
            position: absolute;
            background: var(mainColor);
            width: 210px;
            height: 80px;
            opacity: 0;
            -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
            transition: all 0.3s;
            display: block;
            color: var(typo);
            padding: 20px;
        }
        &:hover .projectOverlay {
            opacity: 0.9;
        }
    }
}
.projectsWrapper.gt600 {
    .cssClass {
        width: 600px;
        .project {
            margin-top: 0;
            float: left;
            &.even {
                margin-left: 50px;
            }
            &.secRow {
                margin-top: 50px;
            }
        }
    }
}
