@import "susy";
@import "compass/utilities/general/clearfix";

.cssClass.webStandard {
    font-size: 16px;
    h1 {
        font-size: 20px;
    }

    #image {
        margin: auto;
        background: var(flatGreen);

        .yaconMe {
            h1 {
                font-family: Pacifico;
                font-size: 42px;
                font-weight: normal;
                margin-top: 0;
                color: var(flatWhite);
            }
        }
        .nav {
            height: 74px;
            margin-top: 7px;
            a {
                color: var(flatWhite);
                font-size: 32px;
                line-height: 74px;
            }
            a:hover {
                color: var(flatYellow);
            }
        }
        .image {
            display: none
        }
    }
    #me {
        margin: auto;
        background: var(flatYellow);
        color: var(flatDark);
    }
    #webDevelopment {
        margin: auto;
        background: var(flatWhite);
        color: var(flatDark);
    }
    #vividPlanet {
        margin: auto;
        background: var(flatBlue);
        color: var(flatWhite);
    }
    #contact {
        margin: auto;
        background: var(flatRed);
        color: var(flatWhite);
        a {
            color: var(flatWhite);
        }
        a:hover {
            color: var(flatBlue);
        }
    }

    .wrapper {
        padding: 5%;
    }
    .iconMe {
        width: 100px;
        height: 100px;
        background: var(flatWhite);
    }
    .keyword {
        margin-left: 5%;
        margin-top: 5%;
    }
    .keyword.first {
        margin-left: 0;
    }
}
@media (min-width: 480px) {
    .cssClass.webStandard {
        h1 {
            font-size: 24px;
        }
        .iconMe {
            width: 100px;
            height: 100px;
        }

        font-size: 18px;
    }
}
@media (min-width: 600px) {
    .cssClass.webStandard {
        h1 {
            font-size: 30px;
        }
        .iconMe {
            width: 150px;
            height: 150px;
        }
        #image {
            .image {
                background: url("/assets/web/images/testHead.jpg") center center transparent;
                background-size: cover;
                display: block;
                margin-top: 5%;
                width: 100%;
                height: 640px;
            }
        }
        font-size: 22px;
    }
}
@media (min-width: 768px) {
    .cssClass.webStandard {
        h1 {
            font-size: 40px;
        }
        font-size: 28px;
        #image {
            .image {
                width: 100%;
                height: 640px;
            }
        }
    }
}
@media (min-width: 992px) {
    .cssClass.webStandard {
        h1 {
            font-size: 60px;
        }
        #image {
            .image {
                width: 900px;
                height: 640px;
            }
        }
        font-size: 32px;
        .wrapper {
        padding: 50px;
        }
        .innerContent {
            width: 900px;
            margin: auto;
        }
    }
}
