@import "susy";
@import "compass/utilities/general/clearfix";

.cssClass.webStandard {
    font-size: 16px;
    h1 {
        font-size: 20px;
    }

    #image {
        margin: auto;
        background: var(skyBlue);
        position: relative;

        .innerContent {
            position: relative;
            padding-bottom: 0;
        }
        .yaconMe {
            h1 {
                font-family: Pacifico;
                font-size: 42px;
                font-weight: normal;
                margin-top: 0;
                color: var(flatWhite);
            }
        }
        .nav {
            height: 74px;
            margin-top: 7px;
            a {
                color: var(flatWhite);
                font-size: 32px;
                line-height: 74px;
            }
            a:hover {
                color: var(flatYellow);
            }
        }
        .image {
            margin: 0 auto;
            display: none;
        }
        .grassBg {
            background: var(grassGreen);
            position: absolute;
            width: 100%;
            bottom: 0;
            display: none;
        }
    }
    #me {
        margin: auto;
        background: var(flatYellow);
        color: var(flatDark);
    }
    #webDevelopment {
        margin: auto;
        background: var(flatWhite);
        color: var(flatDark);
    }
    #vividPlanet {
        margin: auto;
        background: var(flatBlue);
        color: var(flatWhite);
    }
    #contact {
        margin: auto;
        background: var(flatRed);
        color: var(flatWhite);
        a {
            color: var(flatWhite);
        }
        a:hover {
            color: var(flatBlue);
        }
    }

    .innerContent {
        padding: 5%;
    }
    .icon {
        margin-right: 2%;
    }
    .icon.iconMe {
        width: 200px;
        height: 120px;
        background: url("/assets/web/images/jedibig.png");
        background-size: cover;
    }
    .icon.iconWeb {
        width: 85px;
        height: 163px;
        margin-right: 40%;
        background: url("/assets/web/images/terminal1big.png");
        background-size: cover;
    }
    .icon.iconVP {
        width: 200px;
        height: 200px;
        background: url("/assets/web/images/duck1big.png");
        background-size: cover;
    }
    .icon.iconContact {
        width: 85px;
        height: 197px;
        margin-right: 40%;
        background: url("/assets/web/images/post1big.png");
        background-size: cover;
    }
    .keyword {
        margin-left: 5%;
        margin-top: 5%;
    }
    .keyword.first {
        margin-left: 0;
    }
}
@media (min-width: 480px) {
    .cssClass.webStandard {
        h1 {
            font-size: 24px;
        }
        .iconMe {
            width: 110px;
            height: 100px;
        }

        font-size: 18px;
    }
}
@media (min-width: 600px) {
    .cssClass.webStandard {
        h1 {
            font-size: 30px;
        }
        .iconMe {
            width: 41px;
            height: 110px;
        }
        #image {
            .image {
                background: url("/assets/web/images/head.png") center center transparent;
                background-size: cover;
                display: block;
                margin-top: 5%;
                width: 550px;
                height: 400px;

                .jedi {
                    width: 26px;
                    height: 70px;
                    margin-top: 248px;
                    margin-left: 275px;
                    background: url("/assets/web/images/jediOnly.png");
                    position: absolute;
                    background-size: cover;
                }
                .terminal {
                    width: 22px;
                    height: 42px;
                    margin-top: 268px;
                    margin-left: 227px;
                    background: url("/assets/web/images/terminal1.png");
                    position: absolute;
                    background-size: cover;
                }
                a.terminalLink:hover .terminal {
                    background: url("/assets/web/images/terminal2.png");
                    background-size: cover;
                }
                .duck {
                    width: 25px;
                    height: 20px;
                    margin-top: 330px;
                    margin-left: 332px;
                    background: url("/assets/web/images/duck1.png");
                    position: absolute;
                    background-size: cover;
                }
                a.duckLink:hover .duck {
                    background: url("/assets/web/images/duck2.png");
                    background-size: cover;
                }
                .post {
                    width: 18px;
                    height: 41px;
                    margin-top: 270px;
                    margin-left: 367px;
                    background: url("/assets/web/images/post1.png");
                    position: absolute;
                    background-size: cover;
                }
                a.postLink:hover .post {
                    background: url("/assets/web/images/post2.png");
                    background-size: cover;
                }
                .trees {
                    width: 220px;
                    height: 226px;
                    margin-top: 74px;
                    margin-left: 295px;
                    background: url("/assets/web/images/trees.png");
                    position: absolute;
                    background-size: cover;
                }
                .cloud1 {
                    width: 204px;
                    height: 33px;
                    background: url("/assets/web/images/cloud1.png");
                    position: absolute;
                    background-size: cover;
                }
                .cloud2 {
                    margin-left: 324px;
                    height: 45px;
                    width: 251px;
                    background: url("/assets/web/images/cloud2.png");
                    position: absolute;
                    background-size: cover;
                }
                .cloud3 {
                    margin-left: 220px;
                    margin-top: 51px;
                    height: 27px;
                    width: 109px;
                    background: url("/assets/web/images/cloud3.png");
                    position: absolute;
                    background-size: cover;
                }
            }
            .grassBg {
                display: block;
                height: 148px;
            }
        }
        font-size: 22px;
    }
}
@media (min-width: 768px) {
    .cssClass.webStandard {
        h1 {
            font-size: 40px;
        }
        font-size: 28px;
        #image {
            .image {
                width: 700px;
                height: 500px;
                .trees {
                    width: 292px;
                    height: 300px;
                    margin-top: 80px;
                    margin-left: 416px;
                }
                .cloud1 {
                    width: 250px;
                    height: 40px;
                }
                .cloud2 {
                    margin-left: 355px;
                    height: 54px;
                    width: 300px;
                }
                .cloud3 {
                    margin-left: 240px;
                    margin-top: 55px;
                    height: 31px;
                    width: 125px;
                }
                .jedi {
                    width: 34px;
                    height: 90px;
                    margin-top: 305px;
                    margin-left: 350px;
                }
                .terminal {
                    width: 28px;
                    height: 53px;
                    margin-top: 333px;
                    margin-left: 292px;
                }
                .duck {
                    width: 33px;
                    height: 28px;
                    margin-top: 410px;
                    margin-left: 418px;
                }
                .post {
                    width: 26px;
                    height: 60px;
                    margin-top: 330px;
                    margin-left: 465px;
                }
            }
            .grassBg {
                height: 184px;
            }
        }
    }
}
@media (min-width: 992px) {
    .cssClass.webStandard {
        h1 {
            font-size: 60px;
        }
        #image {
            .image {
                width: 954px;
                height: 634px;
                .trees {
                    width: 335px;
                    height: 345px;
                    margin-top: 136px;
                    margin-left: 521px;
                }
                .cloud1 {
                }
                .cloud2 {
                    margin-left: 407px;
                }
                .cloud3 {
                    margin-left: 250px;
                    margin-top: 60px;
                }
                .jedi {
                    width: 41px;
                    height: 110px;
                    margin-top: 393px;
                    margin-left: 477px;
                }
                .terminal {
                    width: 36px;
                    height: 69px;
                    margin-top: 425px;
                    margin-left: 395px;
                }
                .duck {
                    width: 40px;
                    height: 33px;
                    margin-top: 525px;
                    margin-left: 580px;
                }
                .post {
                    width: 32px;
                    height: 74px;
                    margin-top: 420px;
                    margin-left: 630px;
                }
            }
            .grassBg {
                height: 232px;
            }
        }
        font-size: 32px;
        .wrapper {
        }
        .innerContent {
            padding: 50px;
            width: 952px;
            margin: auto;
        }
    }
}
