.cssClass.webStandard {
    color: var(light);
    margin-bottom: 20px;
}

.cssClass .social {
    width: 200px;
    float: left;
    text-align: center;
}
.cssClass .imp {
    width: 200px;
    float: right;
    text-align: right;
}
.cssClass .social .socialLinks a {
    display: inline-block;
    margin-left: 10px;
}
.cssClass .contact {
    width: 500px;
    float: left;
}
.cssClass.webStandard h2 {
    color: var(mainColor);
    padding: 0;
}
