@import "susy";
@import "compass/utilities/general/clearfix";

.blogContent.webStandard {
    margin: auto;
    font-size: 14px;
    padding: 1%;
    h1 {
        margin-top: 5%;
        font-size: 20px;
    }
    h4,
    h2 {
        font-size: 16px;
    }
    p {
        line-height: normal;
        font-size: 14px;
        margin-top: 1%;
    }
    
    .blogHeader {
        padding-left: 10px;
        padding-right: 10px;
        background: var(mainColor);
        color: var(light);
    }
    
    .showHoverIcon.kwcBasicImageEnlarge a .outerHoverIcon {
        display: none;
    }
    .content .kwcTextImage .image {
        margin-bottom: 2%;
    }
    .kwcAdvancedCodeSyntaxHighlight {
        margin-top: 1%;
        margin-bottom: 1%;
        pre {
            font-size: 14px;
        }
    }
    .separator {
        border-bottom: 3px solid var(flatBlue);
    }
    .yaconMe {
        h1 {
            font-size: 42px;
            font-weight: normal;
            margin-top: 0;
            line-height: 74px;
        }
    }
    .nav {
        line-height: 74px;
        a {
            color: var(light);
            font-size: 32px;
            line-height: 74px;
        }
    }
    .postInfo {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 14px;
    }
    .categories {
        font-size: 14px;
    }
    button {
        background: var(mainColor);
        color: var(light);
        padding: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 18px;
        border: none;
        font-family: Raleway;
    }
    .kwcForm input,
    .kwcForm textarea,
    .kwcForm select {
        border: none;
        font-size: 20px;
        padding: 2%;
        color: var(light);
        background: var(mainColor);
    }
    .kwcPostsDetail.kwcBlogCommentsDetail {
        border: none;
        padding: 1%;
    }
    .readMoreLink a,
    .backLink a {
        background: var(flatBlue);
        color: var(flatWhite);
        padding: 1%;
        display: inline-block;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 18px;

    }
}
@media (min-width: 480px) {
    .cssClass {
    }

}
@media (min-width: 600px) {
    .blogContent {
        width: 700px;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1382px) {
    .cssClass {
    }
}