@import "compass/utilities/general/clearfix";
.cssClass {
    background: var(secColor);

    #outerHeader {
        background: var(mainColor);
        
        #header {
            @include pie-clearfix;
            padding: 20px 0 20px 0;
            margin: auto;
            width: 700px;
            
            .headerLabel {
                float: left;
            }
            .menu {
                float: right;
            }
        }
    }
    
    #outerFooter {
        background: var(mainColor);

        #footer {
            padding: 50px 0 50px 0;
            margin: auto;
            width: 450px;
        }
    }
}