.cssClass {
     margin-left: 0px;
     padding: 30px;
}
.cssClass h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: var(light);
    background: var(dark);
    padding: 5px;
    display: inline-block;
}
.cssClass .infoContainer .kwcParagraphs {
    margin-left: 0;
}

.cssClass .webStandardButton.back {
    margin-top: 13px;
}
.cssClass .webStandardButton.back a {
    background: var(dark);
    color: var(mainColor);
    padding: 5px;
}
.cssClass .webStandardButton.back a:hover {
    color: var(light);
}
.cssClass .closeButton {
    background: none;
}
